.main {
    &__blockorder {
        padding-top: 130px;

        @include media-tablet-horizontal {
            padding-top: 40px
        }

        &_title {
            h3 {
                font-weight: 700;
                font-size: 50px;
                text-align: center;
                margin: 0;

                @include media-tablet-horizontal {
                    font-size: 45px;
                }
                
                @include media-tablet {
                    font-size: 35px;
                }

                @include media-tablet-small {
                    font-size: 30px;
                    text-align: left;
                    padding: 0 70px 0 20px; 
                }
            }
        }

        &_tabs {
            padding-top: 20px;
        }
        
        &_tabsnav {
            padding: 0 200px 0 200px;
            display: flex;
            justify-content: space-around;
            margin: 0;

            @include media-tablet-horizontal {
                padding: 0 20px 0 20px;
            }

            li {
                list-style-type: none;

                a {
                    color: var(--c-mainfontcolor);
                    display: block;
                    font-weight: 600;
                    font-size: 35px;
                    padding: 5px 19px 7px 19px;
                    text-align: center;
                    text-decoration: none;

                    @include media-tablet-horizontal {
                        font-size: 30px;
                    }
                    
                    @include media-tablet {
                        font-size: 25px;
                    }

                    @include media-tablet-middle {
                        font-size: 20px;
                    }
              
                    @include media-tablet-small {
                        font-size: 18px;
                        padding: 5px 7px 7px 7px;
                    } 
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        &_tabsstage {
            border-top: 0;
            width: 100%;
            margin: 0 auto;
            clear: both;
            padding: 54px 100px 354px 100px;
            position: relative;
            top: -1px;

            @include media-tablet-horizontal {
                padding: 30px 20px 200px 20px;
            }

            @include media-tablet {
                padding: 20px 20px 60px 20px;
            }

            @include media-tablet-small {
                padding: 15px 0 60px 0;
            }
    
        }

        &_text {
            padding: 0 0 146px 0;
            text-align: center;

            @include media-tablet-horizontal {
                padding: 0 0 80px 0;
            }

            @include media-tablet {
                padding: 0 0 25px 0;
                text-align: left;
            }

            @include media-mobile-middle {
                padding: 0 0 18px 0;
            }

            p {
                font-weight: 600;
                font-size: 30px;
                margin: 0;

                @include media-tablet {
                    font-size: 20px;
                    line-height: 30px;
                }

                @include media-tablet-small {
                    padding: 0 20px 0 20px;
                }

                @include media-mobile-middle {
                    font-size: 18px;
                }

                
            }
        }

        &_calc {
            display: flex;
            justify-content: space-between;

            @include media-tablet {
                flex-direction: column;
            }
        }

        &_form {
            width: 54%;
            padding-bottom: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include media-tablet-horizontal {
                width: 44%;
            }

            @include media-tablet {
                width: 100%;
            }

            @include media-tablet-small {
                padding: 0 20px 8px 20px;
            }
        }

        &_selectScen &_selectScenblock:first-child button{
            visibility: hidden;
            cursor: default;
        }

        &_selectScenblock, &_selectCash {
            display: flex;
            justify-content: space-between;
            align-items: start;
            width: 105%;

            @include media-tablet-horizontal {
                width: 100%;
            }
        }
        
        &_selectCash button {
            visibility: hidden;
            cursor: default;
        }

        &_label {
            font-weight: 600;
            font-size: 20px;
            color: var(--c-formtextcolor);
            line-height: 40px;
            width: 100%;

            @include media-mobile-middle {
                font-size: 14px;
                line-height: 30px;
            }

            select, input {
                font-size: 25px;
                line-height: 25px;
                padding: 22px 0px 22px 6px;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
                border-radius: 7px;
                border: none;
                width: 100%;

                @include media-tablet-horizontal {
                    font-size: 20px;
                }

                @include media-mobile-middle {
                    font-size: 18px;
                    padding: 17px 0 17px 0;
                }
            }
            select:focus {
                border: 2px solid var(--c-selecttextcolor);
                outline: none;
            }

            input {
                padding: 22px 0px 22px 8px;
            }

            input:focus {
                outline: none;
            }
        }

        &_buttonclosescen, &_buttonclosecash {
            padding-top: 10px;
            
            button {
                background-color: transparent;
                border: none;
                cursor: pointer;                      
            }

            button:hover {
                transform: scale(1.2);
            }
        }

        &_addscen {
            padding: 50px 0 50px 0;

            @include media-tablet-horizontal {
                padding: 30px 0 30px 0;
            }

            @include media-tablet {
                padding: 20px 0 20px 0;
            }

            button {
                border: none;
                background-color: transparent;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 25px;
                line-height: 25px;
                cursor: pointer;

                @include media-tablet-horizontal {
                    font-size: 23px;
                }
                
                @include media-tablet {
                    font-size: 20px;
                }

                @include media-mobile-middle {
                    font-size: 18px;
                }
            }

            button:hover {
                font-weight: 600;
            }
        }

        input[type="range"]{
            padding: 0;
            transform: translateY(-27px);
            -webkit-appearance: none;
            -moz-apperance: none;
            border-radius: 0 0 7px 7px;
            height: 6px;
            background-image: -webkit-gradient(
                linear,
                left top,
                right top,
                color-stop(0.24, var(--c-selecttextcolor)),
                color-stop(0.24, var(--c-inputrangeback))
            );

            @include media-mobile-middle {
                height: 5px;
                transform: translateY(-20px);
            }
        }
        
        input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            background-color: var(--c-buttonbackgrount);
            border-radius: 50%;
            height: 25px;
            width: 25px;

            @include media-mobile-middle {
                height: 15px;
                width: 15px;
                
            }
        }

        &_price {
            width: 40%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            padding: 19px 20px 35px 23px;
            font-weight: 400;
            box-shadow: 0px 0px 1.0422px rgba(0, 0, 0, 0.08), 0px 1.0422px 12.5065px rgba(0, 0, 0, 0.08);
            border-radius: 7px;
            background-color: var(--c-white);

            @include media-tablet-horizontal {
                width: 50%;
            }

            @include media-tablet {
                width: 100%;
            }

            @include media-mobile-middle {
                padding: 19px 20px 28px 20px;
            }
        }

        &_titleproceeds {
            font-size: 25px;
            line-height: 35px;
            margin: 0;
            padding-bottom: 20px;
            color: var(--c-formtextcolor);

            @include media-tablet-horizontal {
                font-size: 23px;
            }
            
            @include media-tablet {
                font-size: 20px;
            }
        }

        &_textproceeds {
            position: relative;
        }

        &_textproceeds:after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            border: 1.5px solid var(--c-underline);
            background-color: var(--c-underline);
        }

        &_priceconnent {
            font-size: 50px;
            margin: 0;
            
            @include media-tablet-horizontal {
                font-size: 40px;
            }           
        }

        &_texttotal {
            padding: 65px 0 50px 0;

            @include media-tablet {
                padding: 65px 0 42px 0;
            }

            p {
                font-size: 40px;
                color: var(--c-formtextcolor);
                margin: 0;

                @include media-tablet-horizontal {
                    font-size: 35px;
                }               
            }
        }

        &_expenses {
            padding-bottom: 40px;

            @include media-tablet {
                padding-bottom: 24px;
            }
        }

        &_cash {
            padding-bottom: 75px;

            @include media-tablet {
                padding-bottom: 80px;
            }
        }


        &_titleexpenses {
            padding-bottom: 30px;
            margin: 0;
            font-size: 30px;
            color: var(--c-formtextcolor);

            @include media-tablet {
                padding-bottom: 20px;;
            }

            @include media-tablet-horizontal {
                font-size: 25px;
            }
            
            @include media-tablet {
                font-size: 20px;
            }
        }
    }
}

.modalwin {
    height: 920px;  
    max-width: 788px;
    width: 90%;
    top: 8%; 
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index:30;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    display: none; 
    position: fixed;
    

    &__wrap { 
        height: 885px;  
        max-width: 753px;
        width: 100%;
        border-radius: 12px; 
        background-color: var(--c-white);
        border: 0.5px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 16px 16px rgba(0, 0, 0, 0.16);
        
        padding: 43px 100px 140px 100px;

        @include media-tablet-horizontal {
            padding: 30px 20px 100px 20px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        margin: 0 0 80px 0;
        line-height: 20px;
        color: #3F3D56;
        text-align: center;

        @include media-tablet-horizontal {
            font-size: 30px;
        }

        h2 {
            margin: 0;
        }
    }

    &__blockorder {
        &_input {
            width: 100%;
     
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                margin: 16px 0 5px 0;
                color: #898989;
                
                @include media-mobile-middle {
                    font-size: 14px;
                    line-height: 22px;
                    margin: 10px 0 5px 0;
                    
                }
            }
  
            input {
                width: 100%;
                font-weight: 400;
                font-size: 25px;
                line-height: 25px;
                padding: 22px 0 22px 8px;
                border-radius: 7px;
                border: none;
                outline: none;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);

                @include media-tablet-horizontal {
                    font-size: 20px;
                }

                @include media-mobile-middle {
                    font-size: 18px;
                    padding: 14px 0 14px 7px;
                }
            }
        }
  
        &_sub {
            display: flex;
            justify-content: center;
            padding: 50px 0 48px 0;
            width: 75%;
            margin: 0 auto;
  
            @include media-mobile-middle {
            padding: 34px 0 30px 0;
            }
  
            input {
                width: 20px;
                height: 20px;
                border: none;
                border-radius: 5px;
            }
  
            label {
                width: 91%;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                color: #3F3D56;
            }
        }

        &_button {
            text-align: center;
        }
    }

    input[type="checkbox"]:checked, 
    input[type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    input[type="checkbox"]:checked + label, 
    input[type="checkbox"]:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        line-height: 20px;
        cursor: pointer;
    }

    input[type="checkbox"]:checked + label:before, 
    input[type="checkbox"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20px;
        background: rgba(63, 61, 86, 0.4);
    }

    input[type="checkbox"]:checked + label:before, 
    input[type="checkbox"]:not(:checked) + label:before {
        border-radius: 5px;
    }

    input[type="checkbox"]:checked + label:after, 
    input[type="checkbox"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    input[type="checkbox"]:checked + label:after, 
    input[type="checkbox"]:not(:checked) + label:after {
        left: 4px;
        top: 5px;
        width: 13px;
        height: 7px;
        border-radius: 1px;
        border-left: 3px solid var(--c-white);
        border-bottom: 3px solid var(--c-white);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    input[type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
    }

    input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }
}

.modalwin__button_close {
	width: 27px;
	height: 27px;
    cursor: pointer;
	margin: 0 0 8px 0;
    padding: 0;
	background-color: transparent;
	outline: none;
	border: 0;
    transform: translateX(35px);
    
    img {
        width: 100%;
    }
}


#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index: 2; 
    background:#E5E5E5;
    opacity: 0.5; 
    left:0;
    top:0;
    display: none;
}
