@import "../mixins/media";

.section {
  padding: 6px 100px 0 99px;

  @include media-tablet-horizontal {
    padding: 0 20px 0 20px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-tablet {
      flex-direction: column-reverse;
    }
  }

  &__text {
    width: 43%;

    @include media-tablet {
      width: 100%;
    }

    .title-h4 {
      margin: 40px 0 53px 0;
      position: relative;

      @include media-tablet-horizontal {
        margin: 40px 0 40px 0;
      }

      @include media-tablet-small {
        line-height: 30px;
      }
    }

    .title-h4::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 43%;
      border: 1.5px solid var(--c-underline);
      background-color: var(--c-underline);
    }
  }

  &__textsource p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 30px;

    @include media-tablet-horizontal {
      font-size: 25px;
    }

    @include media-tablet {
      font-size: 20px;
    }
  }

  &__textopen p {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    @include media-tablet-horizontal {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__picture {
    width: 52%;
    text-align: center;

    @include media-tablet {
      width: 100%;
      padding-bottom: 30px;
    }
  }

  &__img {
    width: 100%;
  }

  &__img--small {
    width: 100%;

    @include media-tablet {
      width: 90%;
    }
  }
}

.margin-top-40 .title-h4 {
  margin-top: 40px;
  padding-top: 18px;

  @include media-tablet-small {
    margin-top: 0;
    padding-top: 8px;
  }
}

.margin-top-0 .title-h4 {
  margin-top: 0;
}
