.main__blockscenario {
    padding-top: 120px;

    &_title {
      h3 {
        font-weight: 700;
        font-size: 50px;
        text-align: center;
        margin: 0;
      }
    }

    &_tabs {
      padding-top: 20px;
    }
      
    &_tabsnav {
      padding: 0 200px 0 200px;
      display: flex;
      justify-content: space-around;
      margin: 0;

      li {
        list-style-type: none;

        a {
          color: var(--c-mainfontcolor);
          display: block;
          font-weight: 600;
          font-size: 35px;
          padding: 5px 19px 7px 19px;
          text-align: center;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    &_tabsstage {
      border-top: 0;
      clear: both;
      padding-top: 53px;
      position: relative;
      top: -1px;
    }

    &_tabtext {
      padding: 0 194px 140px 194px;

      p {
        font-weight: 600;
        font-size: 30px;
        text-align: center;
      }
    }

    &_slide {
      width: 84.4%;
      text-align: left;
    }
}