.main__blockcashbox {
    &_tablespec {
        padding: 57px 96px 24px 96px;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        text-align: left;
        
        p {
            margin: 0;
            padding-bottom: 30px;
        }

        table {
            width: 100%;
        }
    }

    &_columleft  {
        width: 46%;
        font-weight: 600;
        
    }    
}