.main__blockcashbox {
  &_tablespec {
    padding: 57px 96px 24px 96px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: left;

    @include media-tablet-horizontal {
      padding: 20px 20px 0 20px;
    }

    @include media-tablet {
      font-size: 20px;
      line-height: 20px;
    }

    @include media-tablet-middle {
      font-size: 18px;
      line-height: 18px;
    }

    @include media-tablet-small {
      font-size: 15px;
      line-height: 15px;
    }

    @include media-mobile-middle {
      font-size: 10px;
      line-height: 10px;
    }

    p {
      margin: 0;
      padding-bottom: 30px;

      @include media-tablet {
        padding-bottom: 20px;
      }

      @include media-tablet-small {
        padding-bottom: 9px;
      }
    }

    table {
      width: 100%;
    }
  }

  &_columleft {
    width: 46%;
    font-weight: 600;
  }
}
