doctype html
html(lang="ru")
    block variables
      -var title = 'Page'
    block head
        head
            meta(charset="utf-8")
            title #{title} | ИРИС
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            include styles
    body
        block header
            include header
        block content
        block footer
            include footer
        block scripts
            include scripts
