script(src='libs/jquery.min.js')
script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
script(src='js/swiper.js')
script(src='js/main.js')
script(src='js/tabs.js')
script(src='js/inputRange.js')
script(src='js/blockorder.js')
script(src='js/footer.js')

               

