.main__blockcashbox_title
    h3 Наша касса
.main__blockcashbox_tabs
    ul.main__tabsnav
        li.tab-active
            a(href="#tabcash-1") О кассе
        li
            a(href="#tabcash-2") Видео
        li
            a(href="#tabcash-3") Характеристики
    div(data='cash').main__tabsstage.main__blockcashbox_tabsstage
        #tabcash-1
            include blockaboutcash
        #tabcash-2
            iframe(width='560', 
                height="315", src="https://www.youtube.com/embed/dP27xc8R1WQ",
                title="YouTube video player",
                frameborder="0",
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
                allowfullscreen)                )
        #tabcash-3
            .main__blockcashbox_spec
                h4 Технические характеристики устройства
            include tablespec