.main__blockorder_text
    p Проверим ваше ККТ на совместимость с нашим ПО
.main__blockorder_calc
    form(action="").main__blockorder_form
        .main__blockorder_selectCash
            label.main__blockorder_label Укажите ваш ККТ
                br
                select(name="softCashbox", data="typeOfCash")
                    option(value="Нева-01-Ф") Нева-01-Ф 
                    option(value="Волга — Днепр — 006") Волга — Днепр — 006
            .main__blockorder_buttonclosecash 
                button
                    img(src="img/close.png", alt='', width=19)             
        .main__blockorder_selectScen
            .main__blockorder_selectScenblock(style='display: flex')
                label.main__blockorder_label Сценарий роста бизнеса
                    br
                    select(name="softScen1")
                        option(value="Нет") Нет
                        option(value="Интерактивные видеоуроки") Интерактивные видеоуроки 
                        option(value="Автоматические предзаказы") Автоматические предзаказы  
                        option(value="Видео аналитика") Видео аналитика 
                        option(value="Оценка эффективности рекламы") Оценка эффективности рекламы
                        option(value="Анализ конкурентов") Анализ конкурентов
                .main__blockorder_buttonclosescen 
                    button
                        img(src="img/close.png", alt='', width=19) 
            .main__blockorder_selectScenblock(style='display: none')
                label.main__blockorder_label Сценарий роста бизнеса
                    br
                    select(name="softScen2")
                        option(value="Нет") Нет
                        option(value="Интерактивные видеоуроки") Интерактивные видеоуроки 
                        option(value="Автоматические предзаказы") Автоматические предзаказы  
                        option(value="Видео аналитика") Видео аналитика 
                        option(value="Оценка эффективности рекламы") Оценка эффективности рекламы
                        option(value="Анализ конкурентов") Анализ конкурентов
                .main__blockorder_buttonclosescen 
                    button
                        img(src="img/close.png", alt='', width=19) 
            .main__blockorder_selectScenblock(style='display: none')        
                label.main__blockorder_label Сценарий роста бизнеса
                    br
                    select(name="softScen3")
                        option(value="Нет") Нет
                        option(value="Интерактивные видеоуроки") Интерактивные видеоуроки 
                        option(value="Автоматические предзаказы") Автоматические предзаказы  
                        option(value="Видео аналитика") Видео аналитика 
                        option(value="Оценка эффективности рекламы") Оценка эффективности рекламы
                        option(value="Анализ конкурентов") Анализ конкурентов
                .main__blockorder_buttonclosescen 
                    button
                        img(src="img/close.png", alt='', width=19) 
            .main__blockorder_selectScenblock(style='display: none')    
                label.main__blockorder_label Сценарий роста бизнеса
                    br
                    select(name="softScen4")
                        option(value="Нет") Нет
                        option(value="Интерактивные видеоуроки") Интерактивные видеоуроки 
                        option(value="Автоматические предзаказы") Автоматические предзаказы  
                        option(value="Видео аналитика") Видео аналитика 
                        option(value="Оценка эффективности рекламы") Оценка эффективности рекламы
                        option(value="Анализ конкурентов") Анализ конкурентов 
                .main__blockorder_buttonclosescen 
                    button
                        img(src="img/close.png", alt='', width=19)                    
            .main__blockorder_selectScenblock(style='display: none')    
                label.main__blockorder_label Сценарий роста бизнеса
                    br
                    select(name="softScen5")
                        option(value="Нет") Нет
                        option(value="Интерактивные видеоуроки") Интерактивные видеоуроки 
                        option(value="Автоматические предзаказы") Автоматические предзаказы  
                        option(value="Видео аналитика") Видео аналитика 
                        option(value="Оценка эффективности рекламы") Оценка эффективности рекламы
                        option(value="Анализ конкурентов") Анализ конкурентов
                .main__blockorder_buttonclosescen 
                    button
                        img(src="img/close.png", alt='', width=19)     
        .main__blockorder_addscen 
            button + Добавить сценарий
        .main__blockorder_inputproceeds
            label.main__blockorder_label Текущая выручка
                br
                input(name="softProceeds" type="text" readonly)
                br
                input(type="range", min="1000", max="1000000", step="100", value="240000").main__blockorder_range 
    .main__blockorder_price
        .main__blockorder_proceedscalc
            .main__blockorder_textproceeds
                p.main__blockorder_titleproceeds Прогнозируемый рост выручки
                p.main__blockorder_priceconnent руб/мес
            .main__blockorder_texttotal
                p Итого
            .main__blockorder_expenses
                p.main__blockorder_titleexpenses Расходы на СРБ
                p.main__blockorder_priceconnent 0 руб/мес 
            .main__blockorder_cash
                p.main__blockorder_titleexpenses Наше ПО
                p.main__blockorder_priceconnent руб
        .main__blockorder_button 
            button.btn.btn--white Оставить заявку
