.main__blockcashbox_about
  .main__blockcashbox_aboutcontent
    .main__blockcashbox_abouttitle
      .title-h4 НЕВА — 01 — Ф
    .main__blockcashbox_aboutsubtitle
      p Идеальное решение для малого бизнеса
    .main__blockcashbox_abouttext
      p Устройство работает на базе Android, оснащена семидюймовым сенсорным экраном, портами USB, Ethernet и сетевыми проотколами GPRS, Wi-Fi, Bluetooth
      p Кассовое ядро позволяет интегрировать с ККТ Нева — 01 — Ф любые сторонние приложения
    .main__blockcashbox_aboutbutton
      button.btn Заказать
  .main__blockcashbox_aboutimg
    .main__blockcashbox_abouttitlemobile
        .title-h4 НЕВА — 01 — Ф
    .main__blockcashbox_swiper
      .swiper-container.mySwiper
        .swiper-wrapper.swiper-wraper_block
          .swiper-slide.swiper-slide_blocksmall
            img(src='img/cashbox.png', alt='', width=399)
          .swiper-slide.swiper-slide_blocksmall
            img(src='img/cashbox.png', alt='', width=399)
          .swiper-slide.swiper-slide_blocksmall
            img(src='img/cashbox.png', alt='', width=399)
          .swiper-slide.swiper-slide_blocksmall
            img(src='img/cashbox.png', alt='', width=399)
          .swiper-slide.swiper-slide_blocksmall
            img(src='img/cashbox.png', alt='', width=399)
        .swiper-button-next.main__blockbusinesscards_buttonright
        .swiper-button-prev.main__blockbusinesscards_buttonleft
        .swiper-pagination.swiper-pagination-black
    .main__blockcashbox_abouprice
      p от 3 650
        span &#x20bd;

