.main__blockorder_title
    h3 Выбери то, что нужно тебе
.main__blockorder_tabs
    ul.main__blockorder_tabsnav
        li
            a(href="#taborder-1") Купить
        li
            a(href="#taborder-2") Аренда
        li
            a(href="#taborder-3") Наше ПО
    .main__blockorder_tabsstage
        #taborder-1
            include blockbuy
        #taborder-2
            include blockrent
        #taborder-3
            include blocksoft