include ../../components/businesscard

-
  const businesscardContent1 = {
    title: 'Торговля продуктами', 
    src: 'img/iconprod.png'
  }

  const businesscardContent2 = {
    title: 'Другая торговля', 
    src: 'img/icontrade.png'
  }

  const businesscardContent3 = {
    title: 'Общепит', 
    src: 'img/iconpub.png'
  }

  const businesscardContent4 = {
    title: 'Услуги', 
    src: 'img/iconserv.png'
  }


.main__blockbusinesscards_title
    h3 Выбери сферу своего бизнеса
.swiper-container.mySwiper
    .swiper-wrapper.swiper-wraper_block
        .swiper-slide.swiper-slide_block
            .main__blockbusinesscards_content
                +businesscard (businesscardContent1)
                div
                +businesscard (businesscardContent2)
                div
                div
                div   
                +businesscard (businesscardContent3)
                div
                +businesscard (businesscardContent4)       
        .swiper-slide.swiper-slide_block
            .main__blockbusinesscards_content
                +businesscard (businesscardContent1)
                div
                +businesscard (businesscardContent2)
                div
                div
                div   
                +businesscard (businesscardContent3)
                div
                +businesscard (businesscardContent4)   
        .swiper-slide.swiper-slide_block
            .main__blockbusinesscards_content
                +businesscard (businesscardContent1)
                div
                +businesscard (businesscardContent2)
                div
                div
                div   
                +businesscard (businesscardContent3)
                div
                +businesscard (businesscardContent4)   
    .swiper-button-next.main__blockbusinesscards_buttonright
        img(src='img/arrowwhite.svg', alt='')
    .swiper-button-prev.main__blockbusinesscards_buttonleft
        img(src='img/arrowwhite.svg', alt='')