include ../../components/section

-
  const content1 = {
    subtitle: 'Твой рост, наша цель!',
    text: 'То, что раньше было у крупного бизнеса, теперь доступно тебе',
    src: 'img/schedule.png', 
    width: 565,
    add:'source',
    margin: 40
  }
  
  const content2 = {
    subtitle: 'Лучшее решение для роста вашего бизнеса',
    text: 'ИРИС Ритейл взял лучших на рынке провайдеров технологий, которые способны обеспечить реальный рост выручки малого или среднего предпринимателя-ритейлера',
    src: 'img/schedule_2.png', 
    width: 564,
    add:'open',
    margin: 0
  }

.main__title 
    h1 Мечта предпринимателя
+section (content1)
.main__subtitle
    h2 С нами все просто
+section (content2)