include ../../components/blockscenario

-
  const scenarioContent1 = {
    title1: 'Интерактивное обучение', 
    text1: 'Создаём диалоговые симуляции без навыков программирования. Организуем обучения в виртуальной и дополненой реальности. Обучение можно проходить на смартфоне, компьютере или VR-очках', 
    src1: 'img/education.png', 
    dir1: '', 
    title2: 'Автоматические предзаказы',  
    text2: 'Анализируем наполненость полки, распознаем товары и проверяем выкладку и ассортимент. Контролируем работу кассира, фиксируем ошибки и нарушения в процессе его работы',
    src2: 'img/preorders.png', 
    dir2: '-reverse'
  }

  const scenarioContent2 = {
    title1: 'Видео аналитика', 
    text1: 'Создаём автозаказы, предоставляем аналитику в виде отчётов и дашбордов', 
    src1: 'img/videoanalytics.png', 
    dir1: '', 
    title2: 'Оценка эффективности рекламы',  
    text2: 'Анализируем полки, распознаем товары и проверяем выкладку и ассортимент. Контролируем работу кассира, фиксируем ошибки и нарушения в процессе его работы',
    src2: 'img/advertisingevaluation.png', 
    dir2: '-reverse'
  }  

.main__blockscenario_title
    h3 Сценарии роста бизнеса
.main__blockscenario_tabs
    ul.main__blockscenario_tabsnav
        li
            a(href="#tabscen-1") Рост доходов
        li
            a(href="#tabscen-2") Снижение расходов
    .main__blockscenario_tabsstage
        #tabscen-1
            .main__blockscenario_tabtext
                p Мы даём вам инструменты, которые позволят повысить ваш доход и выйти на новый уровень прибыли
            .swiper-container.mySwiper
                .swiper-wrapper.swiper-wraper_block
                    .swiper-slide.swiper-slide_block
                        +blockscenario (scenarioContent1)
                    .swiper-slide.swiper-slide_block
                        +blockscenario (scenarioContent2)
                .swiper-button-next.main__blockbusinesscards_buttonright
                    img(src='img/arrowwhite.svg', alt='')
                .swiper-button-prev.main__blockbusinesscards_buttonleft
                    img(src='img/arrowwhite.svg', alt='')              
        #tabscen-2
            p Phasellus pharetra aliquet viverra. Donec scelerisque tincidunt diam, eu fringilla urna auctor at