.main__blockcashbox_tablespec
    table
        tr
            td.main__blockcashbox_columleft
                p Операционная система
            td
                p Android
        tr
            td.main__blockcashbox_columleft
                p Процессор
            td
                p MediaTek 6580
        tr
            td.main__blockcashbox_columleft
                p Оперативная память
            td
                p 1 Гб
        tr
            td.main__blockcashbox_columleft
                p Постоянная память
            td
                p 8 Гб
        tr
            td.main__blockcashbox_columleft
                p Протоколы связи
            td
                p 2 х USB(хост), 1 х MicroUSB, 1 х RJ45, Bluetooth
        tr
            td.main__blockcashbox_columleft
                p Экран
            td
                p 7 дюймов, TFT 600 х 1024
        tr
            td.main__blockcashbox_columleft
                p Аккумулятор
            td
                p Li-on, 7.4 V, 2500 мАЧ
        tr
            td.main__blockcashbox_columleft
                p Размеры
            td
                p 250 х 120 х 65
        tr
            td.main__blockcashbox_columleft
                p Вес
            td
                p 740 г
        tr
            td.main__blockcashbox_columleft
                p Ширина чековой ленты
            td
                p 58 мм
        tr
            td.main__blockcashbox_columleft
                p Доступные приложения
            td
                p Бифит касса, Лайтбокс, Умка 365 Торговля онлайн
        tr
            td.main__blockcashbox_columleft
                p Скорость печати
            td
                p 18 строк/сёк
        tr
            td.main__blockcashbox_columleft
                p Гарантия
            td
                p 1 год
        tr
            td.main__blockcashbox_columleft
                p Подключаемая переферия
            td
                p Банковский терминал, сканер штрих — кодов, весы
        tr
            td.main__blockcashbox_columleft
                p Время работы на дном заряде
            td
                p 16 ч

