mixin card(content)
    .main__card
        .main__card_circleunder
        .main__card_circle
            .main__card_icon
                img(src=content.src, alt='icon')
        .main__card_content
            .main__card_title
                p=content.title
            .main__card_line
            .main__card_text
                p=content.text

