mixin scenario(content)
    .main__blockscenario_wrap 
        .main__blockscenario_wrapcontent 
            div 
                .main__blockscenario_title
                    p=content.title
                .main__blockscenario_text
                    p=content.text 
            .main__blockscenario_button 
                button.btn Заказать
        .main__blockscenario_img 
            img(src=content.src, alt='', width=525)      