@import "../utils/root";

.btn { 
    background-color: var(--c-buttonbackgrount);
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 15px 80px 15px 80px;

    &--white {
        color: var(--c-white);
        padding: 25px 80px 25px 80px;

    }

    &--whiteback {
        background-color: var(--c-white);
        width: 100%;
        padding: 25px 80px 25px 80px;
    }

    &__radius--white {
        border-radius: 20px;
        width: 174px;
        height: 40px;
        color: var(--c-white);
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 20px;
        padding: 0;
    }
}

.btn:hover {
    transform: scale(1.03);
}

.main__blockbusinesscards {
    &_buttonleft, &_buttonright {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: var(--c-buttongrey);
        padding: 0px 10px 0 5px;
        cursor: pointer;
    }
    
    &_buttonright {
        transform: rotate(180deg);
    }

    &_buttonleft::before, &_buttonright::before,  &_buttonleft::after, &_buttonright::after {
        content: '';
    }
}

