@import "../mixins/media";

.footer {
  width: 100%;
  background-color: var(--c-mainbackground);
  display: flex;
  justify-content: center;
    
  &__content {
    width: 100%;
    max-width: 1280px;
    background-color: var(--c-buttonbackgrount);
    min-height: 1069px;
    clip-path: polygon(0 0, 50% 7.3%, 100% 0%, 100% 100%, 0 100%);
    padding: 215px 99px 72px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: start;

    @include media-tablet-horizontal {
      padding: 215px 20px 85px 20px;
    }

    @include media-tablet {
      padding: 150px 20px 85px 20px;
    }

    @include media-tablet-middle {
      clip-path: polygon(0 0, 50% 5%, 100% 0%, 100% 100%, 0 100%);
    }

    @include media-mobile-middle {
      padding: 63px 20px 85px 20px;
      clip-path: polygon(0 0, 50% 3%, 100% 0%, 100% 100%, 0 100%);
    }
  }

  &__blockorder {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

    @include media-tablet {
      flex-direction: column;
      padding-bottom: 42px;
    }

    &_content {
      width: 54%;

      @include media-tablet-horizontal {
        width: 45%;
      }

      @include media-tablet {
        width: 100%;
      }
    }

    &_text {
      padding: 0 0 46px 0;
      
      p {
        font-weight: 400;
        font-size: 55px;
        line-height: 110%;
        margin: 0;

        @include media-tablet-horizontal {
          font-size: 40px;
        }

        @include media-tablet {
          font-size: 30px;
          font-weight: 600;
        }
      }
    }

    &_logo {
      @include media-tablet {
        display: none;
      }
      img {
        width: 39%;

        @include media-tablet-horizontal {
          width: 60%;
        }
      }
    }

    &_logomobile {
      display: none;
      padding: 30px 0 0 0;
      text-align: center; 

      @include media-tablet {
        display: block;
      }

      img {
        width: 67%;
      }
    }

    &_input {
      width: 36%;

      @include media-tablet-horizontal {
        width: 52%;
      }

      @include media-tablet {
        width: 100%;
      }
  

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        margin: 16px 0 5px 0;
        
        @include media-mobile-middle {
          font-size: 14px;
          line-height: 22px;
          margin: 10px 0 5px 0;
        }
      }

      input {
        width: 100%;
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
        padding: 22px 0 22px 8px;
        border-radius: 7px;
        border: none;
        outline: none;

        @include media-tablet-horizontal {
          font-size: 20px;
        }

        @include media-mobile-middle {
          font-size: 18px;
          padding: 14px 0 14px 7px;
        }
      }
    }

    &_sub {
      display: flex;
      justify-content: space-between;
      padding: 50px 0 48px 0;

      @include media-mobile-middle {
        padding: 34px 0 30px 0;
      }

      input {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 5px;
      }

      label {
        width: 91%;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }

  &__contacts {
    width: 100%;
    max-width: 618px;
    
    &_data {
      display: flex;
      justify-content: space-between;

      @include media-tablet-middle {
        flex-direction: column-reverse;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        opacity: 0.7;

        @include media-tablet-middle {
          margin: 15px 0 5px 0;
        }
      }
      
      a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
        margin: 0;
        color: var(--c-mainfontcolor);
      }
    }

    &_emailblock {
      width: 47.5%;
      
      @include media-tablet-middle {
        width: 100%;
      }

      @include media-tablet-middle {
        padding-top: 15px;
      }

      a {
        position: relative;
      }

      a:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 1px;
        width: 128%;
        background-color: var(--c-mainfontcolor);
        opacity: 0.5;

        @include media-tablet-middle {
          width: 100%;
        }
      }
    }

    &_phoneblock  {
      a {
        position: relative;
      }

      a:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: var(--c-mainfontcolor);
        opacity: 0.5;
      }
    }

    &_info {
      padding-top: 46px;

      @include media-mobile-middle {
        padding-top: 20px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        opacity: 0.7;

        @include media-mobile-middle {
          font-size: 12px;
          line-height: 120%;
          margin: 12px 0 0 0;
        }
      }
    }
  }

  .footer__blockorder_checkbox:checked, 
  .footer__blockorder_checkbox:not(:checked) {
      position: absolute;
      left: -9999px;
  }

  .footer__blockorder_checkbox:checked + .footer__blockorder_label, 
  .footer__blockorder_checkbox:not(:checked) + .footer__blockorder_label {
      display: inline-block;
      position: relative;
      padding-left: 28px;
      line-height: 20px;
      cursor: pointer;
  }

  .footer__blockorder_checkbox:checked + .footer__blockorder_label:before, 
  .footer__blockorder_checkbox:not(:checked) + .footer__blockorder_label:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 20px;
      height: 20px;
      border: 1px solid var(--c-white);
      background-color: var(--c-white);
  }

  .footer__blockorder_checkbox:checked + .footer__blockorder_label:before, 
  .footer__blockorder_checkbox:not(:checked) + .footer__blockorder_label:before {
      border-radius: 5px;
  }

  .footer__blockorder_checkbox:checked + .footer__blockorder_label:after, 
  .footer__blockorder_checkbox:not(:checked) + .footer__blockorder_label:after {
      content: "";
      position: absolute;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }

  .footer__blockorder_checkbox:checked + .footer__blockorder_label:after, 
  .footer__blockorder_checkbox:not(:checked) + .footer__blockorder_label:after {
      left: 4px;
      top: 5px;
      width: 13px;
      height: 7px;
      border-radius: 1px;
      border-left: 3px solid var(--c-selecttextcolor);
      border-bottom: 3px solid var(--c-selecttextcolor);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }

  .footer__blockorder_checkbox:not(:checked) + .footer__blockorder_label:after {
      opacity: 0;
  }

  .footer__blockorder_checkbox:checked + .footer__blockorder_label:after {
      opacity: 1;
  }
}