@import "../../local_modules/normalize.css/normalize";
@import "../utils/root";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--c-mainfontcolor);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

.main {
  margin-top: 56px;
  background-color: var(--c-mainbackground);
  display: flex;
  justify-content: center;

  &__content {
    width: 100%;
    max-width: 1280px;
  }

  &__title {
    width: 100%;
    padding: 54px 0 0 96px;
  }

  &__subtitle h2 {
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    margin-bottom: 78px;
  }

  &__blockcards {
    padding:73px 100px 0 99px;
    display: flex;
    justify-content: space-between;
  }
}

.swiper-slide_block {
  background-color: var(--c-mainbackground);
}

.swiper-wraper_block {
  box-sizing: border-box;
}

.tab-active a {
  background: var(--c-buttonbackgrount);
  border-radius: 20px;
  cursor: default;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 55px;
}