@import "../mixins/media";

.header {
  width: 100%;
  height: 56px;
  background-color: var(--c-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20;

  @include media-tablet-small {
    height: 0;
  }

  &__content {
    width: 100%;
    max-width: 1280px;
    display: flex;
    padding: 0 101px 0 101px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;

    @include media-tablet-horizontal {
      padding: 0 20px 0 20px;
      justify-content: space-around;
    }

    @include media-tablet-small {
      display: none;
    }
  }

  &__logo {
    margin-top: -14px;
  }

  &__nav {
    width: 30%;
    min-width: 319px;
    display: flex;
    justify-content: space-between;

    @include media-tablet-horizontal {
      min-width: 250px;
    }
  }

  &__link {
    color: var(--c-main-font);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 20px;
    position: relative;

    @include media-tablet-horizontal {
      font-size: 18px;
    }
  }

  &__link:hover::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 97%;
    border: 1px solid var(--c-grey);
    background-color: var(--c-grey);
  }

  &__block_phone {
    display: flex;
    width: 33%;
    min-width: 354px;
    justify-content: space-between;
    align-items: center;

    @include media-tablet-horizontal {
      min-width: 322px;
    }

    @include media-tablet {
      display: none;
    }

    a {
      color: var(--c-grey);
      min-width: 162.41px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 20px;

      @include media-tablet-horizontal {
        font-size: 18px;
        min-width: 140px;
      }
    }
  }
}
