extends common/layout

block variables
  -var title = 'My Page'

block content
  main.main
    .main__content
      a(name="main")
      include includes/index/introduction
      include includes/index/block-cards
      section.main__blockbusinesscards
        include includes/index/business-cards
      a(name="scenarios")
      section.main__blockscenario
        include includes/index/section-scenario
      a(name="cashBox")
      section.main__blockcashbox
        include includes/index/block-cashbox
      section.main__blockorder
        include includes/index/block-order

