:root {
    --c-white: #FFFFFF;
    --c-mainbackground: #E5E5E5;
    --c-mainfontcolor: #000000;
    --c-grey: #3F3D56;
    --c-buttonbackgrount: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    --c-underline: #B4ABAB;
    --c-buttongrey: rgba(196, 196, 196, 0.8); 
    --c-formtextcolor: #898989;
    --c-selecttextcolor: #35CC79;
    --c-inputrangeback: #C4C4C4;                             
}