// Mobile first
$mediaWidthMobile: 360px;
$mediaWidthMobileMiddle: 375px;
$mediaWidthTabletSmall: 500px;
$mediaWidthTabletMiddle: 600px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1081px;
$mediaWidthLaptop: 1366px;
